{% extends '_base.html' %}

{% block page_title %}
    لیست کتاب
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row flex-row-reverse justify-content-md-center">
            {% for item in books %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if item.cover %}
                                <img src="{{ item.cover.url }}" alt="img">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <a href="{% url 'book_detail' item.id %}"><h3 class="card-title">
                                        <strong>{{ item.title|title }}</strong></h3></a>
                                    <p class="card-text pt-3">{{ item.description }}</p>
                                    <p class="text-muted">نویسنده:{{ item.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>


{% endblock %}